<div class="page">
  <div class="event-index-panel">

    <div class="">
      <%= render 'events/new_event_form' %>
    </div>

    <div class="search-form">
      
    </div>

    <div>
      <%= paginate(@events) %>
    </div>

    <div class="events">
      <%= render partial: 'events/event_card', collection: @events, as: :event_card,
        locals: { event_card_mode: ApplicationHelper::NORMAL_EVENT_CARD_MODE } %>
    </div>

    <div>
      <%= paginate(@events) %>
    </div>
  </div>
</div>