<div class="not-logged-in-container">
  <h1>
    <strong>ゴルファー</strong>
    <small class="text-muted">たちのコミュニティサイト、</small>
    <br/>
    <strong>ゴルコミュ</strong>
    <small class="text-muted">です</small>
  </h1>
</div>