<div class="page">
  <div class="mid-white-panel">
    <h1 class="text-info">登録完了</h1>
    <p>
      ご登録ありがとうございました。<br>
      アカウントの登録が完了しました。
    </p>

  <%= link_to "こちらからログインをお願いします", new_session_path(resource_name) %><br />
  </div>
</div>
