<div class="page">
  <div class="mid-white-panel">
    <h2>プロフィール編集</h2>
    <% if current_user.guest? %>
      <p class="text-warning">このユーザは更新できません</p>
    <% end %>

    <%= form_with(model: @user, url: user_registration_path, id: 'edit_user', class: 'edit_user',
      html: { method: :put }, local: true) do |f| %>
      <%= render "devise/shared/edit_form_item", form: f %>
    <% end %>

    <% if !current_user.admin? %>
      <p>退会する場合は以下から</p>
        <div class="user-form-group">
          <% if current_user.guest? %>
          <div id="delete" data-toggle="tooltip" title="このユーザは削除できません">
            <button type="button" class="btn btn-danger btn-block"
              style="pointer-events: none;" disabled>
          <% else %>
          <div>
            <button type="button" class="btn btn-danger btn-block"
              data-toggle="modal"
              data-target="#modal-<%= ApplicationHelper::DELETE_ACCOUNT_MODAL_MODE %>">
          <% end %>
              アカウントを削除する
            </button>
          </div>
        </div>
      
    <% end %>
  </div>
  <%= render 'layouts/modal',
    {modal_id: ApplicationHelper::DELETE_ACCOUNT_MODAL_MODE,
    mode: ApplicationHelper::DELETE_ACCOUNT_MODAL_MODE, object: current_user} %>
</div>