<div class="search-box bg-white">
  <div class="text-info">
    ゴル友を探す
  </div>
  <table>
    <tr>
      <td>
        年代
      </td>
    </tr>
    <tr>
      <td>
        性別
      </td>
    </tr>
    <tr>
      <td>
        エリア
      </td>
    </tr>
  </table>
</div>