<% provide(:title, 'すべてのユーザー') %>

<div class="page-header d-flex align-items-center mx-auto mb-4">すべてのメンター</div>

<div class="all-users user-cards row">
  <%= render partial: 'users/user_card', collection: @users, as: :user_card %>
</div>

<div class="all-users-footer">
  <%= paginate(@users) %>

</div>