<% provide(:title, 'ゴル友を探す') %>

<div class="page">
  <div class="user-index-panel">
    <div class="search-form">
      <%= render partial: 'users/search_form' %>
    </div>

    <div>
      <%= paginate(@users) %>
    </div>

    <div class="users">
      <%= render partial: 'users/user_card', collection: @users, as: :user_card %>
    </div>

    <div class="users-footer">
      <%= paginate(@users) %>
    </div>
  </div>
</div>