<% provide(:title, 'ゴル友を探す') %>

<div class="page">
  <div class="user-index-panel">
    <div class="search-form">
      <%= render partial: 'users/search_form' %>
    </div>

    <%= render partial: 'users/userlist', locals: { users: @users } %>
  </div>
</div>