フォロー
<div class="status-value" id="following_<%= @user.id %>"><%= @user.following.count.to_s(:delimited) %></div>
フォロワー
<div class="status-value" id="followed_<%= @user.id %>"><%= @user.followers.count.to_s(:delimited) %></div>