<div class="eventList-card">
  <div class="eventList-float eventList-body">
  </div>

  <div class="eventList-float eventList-btn">
    <% if current_user?(event_card.user) || current_user.admin? %>
      
      <a class="btn eventList-delete text-danger" data-toggle="modal" data-target="#modal">
      <i class="fa fa-trash" aria-hidden="true"></i></a>
    <% end %>
  </div>
</div>
<%= render 'layouts/modal', {mode: ApplicationHelper::DELETE_EVENT_MODAL_MODE, object: event_card} %>