<% unless object == current_user %>
<div class="like-form event-<%= object.id %>" style="width: 100%;">
  <% if current_user.following?(object) %>
    <%= render 'unlike', object: object %>
  <% else %>
    <%= render 'like', object: object %>
  <% end %>
</div>
<% end %>