<% unless object.user.id == current_user.id %>
  <div class="like-form event-<%= object.id %>" style="width: 100%;">
    <% if current_user.already_liked?(object) %>
      <%= render 'events/unlike', object: object %>
    <% else %>
      <%= render 'events/like', object: object %>
    <% end %>
  </div>
<% end %>