<div>
  <div class="eventbtn">
  <%= link_to new_event_path do %>
    <button type="button" class="btn btn-info bg-white text-info rounded-pill btn-block" style="font-size:0.8rem;">
      <i class="far fa-plus-square mr-1"></i>イベント作成
    </button>
  <% end %>
  </div>
</div>