<% if current_user.already_participated?(object) %>
  <%= render 'layouts/modal', {mode: ApplicationHelper::STOP_PARTICIPATE_EVENT_MODAL_MODE, object: object} %>
  <button type="button" class="btn btn-primary mt-1" data-toggle="modal" data-target="#modal">参加をやめる</button>
<% else %>
  <%= render 'layouts/modal', {mode: ApplicationHelper::PARTICIPATE_EVENT_MODAL_MODE, object: object} %>
  <button type="button" class="btn btn-primary mt-1" data-toggle="modal" data-target="#modal">参加する</button>
<% end %>
<h2>参加者</h2>
<% object.participant_users.each do |user| %>
<li><%= user.username %></li>
<% end %>