<button type="button" class="btn base-btn bg-info text-white" data-toggle="modal"
  data-target="#modal-<%= ApplicationHelper::PARTICIPATE_EVENT_MODAL_MODE %>">参加する</button>
<%= render 'layouts/modal', {mode: ApplicationHelper::PARTICIPATE_EVENT_MODAL_MODE, object: object} %>