<% provide(:title, @event.title) %>

<div class="page">
  <div class="wide-white-panel">
    <h2>イベント詳細</h2>

    <div>
      <%= render 'events/like_form', object: @event %>
    </div>
    <%= render 'events/participants_form', object: @event %>

    <%= render 'events/comment', object: @event %>

  </div>
</div>