/* mixins, variables, etc. */

@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* universal */



/* header */

.navbar {
  height: 65px;
}

/* footer */


/* user-index */
.user-cards {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 15px;
  padding: 0 15px;
  margin-bottom: 15px;
}

/* user-profile */

.circle-avatar img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
}

.avatar-img {
  width: 32px;
  height: 32px;
}