/* mixins, variables, etc. */

@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* universal */
.container {
  // max-width: 960px;
}

.dropdown-font {
  font-size: 14px;
}

.page {
  padding: 30px 0px 30px 0px;
  text-align: center;
}

%panel {
  margin: 0 auto;
  color: #878787;
  font-size: 13px;
}

.mid-white-panel {
  @extend %panel;
  padding: 80px;
  background: #fff;
  width: 665px;
}

/* image */
.avatar-img-mini {
  width: 40px;
  height: 40px;
}

.avatar-img {
  width: 100;
  height: 100px;
}

.circle-avatar img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
}


/* header */
.navbar {
  height: 55px;
}

.header-logo {
  width: 100px;
}

.header-menu {
  display: flex;
  justify-content: center;

  ul {
    display: flex;
    font-size: 1rem;
    font-weight: 700;
    margin-top: 12px;
    list-style: none;

    a:hover {
      text-decoration: none;
    }
  }
}

.header-right {
  margin-left: auto;
  display: flex;
}


/* footer */


/* not_logged_in */
.not-logged-in-container {
  background-image: image-url('lp_image.png');
  background-size: cover;
  height: 800px;
  opacity: 0.7;
  padding: 50px 0px 0px 50px;
}

/* form */
.form-group {
  text-align: left;
  width: 350px;
  margin: auto;
  margin-bottom: 15px;
}

.control-label {
  display: inline-block;
  max-width: 100%;
  margin-bottom: 5px;
  font-weight: bold;
}

.form-control {
  display: block;
  width: 100%;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}


/* loginbtn */
.loginbtn {
  width: 100px;
  margin: 0px 5px 0px 5px;

  a:hover {
    text-decoration: none;
  }
}

.guest-loginbtn {
  @extend .loginbtn;
  width: 150px;
}


/* user-index */
.user-index-panel {
  @extend %panel;
  width: 450px;
}

.users {}

.userList-card {
  background: #fff;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: start;
  justify-content: flex-start;
  padding: 10px 10px;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

.userList-image {
  width: 100px;
}

.userList-body {
  -webkit-box-flex: 1;
  flex: 1;
  text-align: left;
  display: -webkit-box;
  display: flex;
  flex-wrap: wrap;
  -webkit-box-align: center;
  align-items: center;
}