/* mixins, variables, etc. */

@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

@mixin sm {
  @media (min-width: 576px) {
    @content;
  }
}

@mixin md {
  @media (min-width: 768px) {
    @content;
  }
}

@mixin lg {
  @media (min-width: 992px) {
    @content;
  }
}

/* universal */
.container {
  max-width: auto;
}

.dropdown-font {
  font-size: 14px;
}

.page {
  padding: 30px 0px 30px 0px;
  text-align: center;
}

%panel {
  margin: 0 auto;
  color: #878787;
  font-size: 14px;
}

.mid-white-panel {
  @extend %panel;
  background: #fff;
  max-width: 665px;
  padding: 20px;

  @include sm;
}

.wide-white-panel {
  @extend %panel;
  background: #fff;
  max-width: 900px;
  padding: 50px;
  @include sm;
}

.field_with_errors {
  display: contents;
}

/* button */
.btn-field {
  width: 110px;
}

.base-btn {
  font-size: 0.8rem;
  border-radius: 40px;
  width: auto;
}

.loginbtn {
  width: auto;
  margin: 0px 5px 0px 5px;

  a:hover {
    text-decoration: none;
  }

  button {
    font-size: 0.8rem;
    width: auto;
  }
}

.eventbtn {
  position: fixed;
  right: 20px;
  bottom: 20px;
}

.event-circle-btn {
  display: inline-block;
  text-decoration: none;
  background: $danger;
  color: #FFF;
  width: 50px;
  height: 50px;
  line-height: 50px;
  border-radius: 50%;
  text-align: center;
  overflow: hidden;
  transition: .4s;

  a:hover {
    background: $info;
  }

  @include lg {
    width: 80px;
    height: 80px;
    line-height: 80px;
    font-size: 2rem;
  }
}


/* textarea */
.base-textarea {
  border: 2px solid $info;
  border-radius: 0.5em;
  padding: 0.5em;
  background-color: snow;
  width: 100%;
  box-sizing: border-box;
  font-size: 1em;
  line-height: 1.2;
}


/* image */
.avatar-img-mini {
  width: 40px;
  height: 40px;
}

.avatar-img {
  width: 80;
  height: 80px;
}

.avatar-img-big {
  width: 200;
  height: 200px;
}

.circle-avatar img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
}

.square-image img {
  max-width: 300px;
  max-height: 300px;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.event-img {
  width: 300px;
  height: 300px;
}

.event-img-card {
  width: 200px;
  height: 200px;
}


/* header */
.navbar {
  height: 55px;
}

.header-logo {
  width: auto;
  margin-top: 1rem;

  a {
    font-size: 1rem;
  }
}

.header-menu {
  ul {
    font-weight: 700;
    list-style: none;
    display: flex;
    margin-top: 1.2rem;

    li {
      width: auto;
      font-size: 1rem;
    }

    a:hover {
      text-decoration: none;
    }
  }
}

.header-right {
  margin-top: 1rem;
  float: right;

  ul {
    display: flex;
    list-style: none;
    margin-bottom: 0px;

    li {
      width: auto;
    }
  }
}

.header-right-login {
  float: right;

  ul {
    display: flex;
    list-style: none;
    margin-bottom: 0px;
    padding-left: 0px;

    li {
      width: auto;
    }
  }
}


/* modal */
.modal-default {
  font-size: 15px;
  color: black;
}


/* logged_in */
.main-container {
  background-image: image-url('main_container.png');
  background-size: cover;
  background-attachment: fixed;
  background-position: center center;
}

.bg-mask {
  height: 100%;
  background: rgba(255, 255, 255, 0.5);
}


/* form */
%form-group {
  text-align: left;
  margin: auto;
  margin-bottom: 15px;
}

.user-form-group {
  @extend %form-group;
  max-width: 350px;

  @include sm;
}

.event-form-group {
  @extend %form-group;
  width: 100%;
}

.control-label {
  display: inline-block;
  max-width: 100%;
  margin-bottom: 5px;
  font-weight: bold;
}

%form-control-base {
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.2;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.form-control {
  @extend %form-control-base;
  display: block;
  width: 100%;
}

.form-control-select {
  @extend %form-control-base;
  width: auto;
  padding: 5px;
}


/* list-common */
%list-body-base {
  width: 100%;
}


/* events */
.event-index-panel {
  @extend %panel;
  max-width: 900px;

  @include sm;
}

.events {
  display: grid;
  grid-template-columns: 1fr;
  grid-column-gap: 20px;
  padding-left: 0px;
}

.eventList-card {
  background: #fff;
  display: flex;
  justify-content: flex-start;
  padding: 10px;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

@media screen and (max-width: 767px) {
  .eventList-card {
    display: block;
  }

  .eventList-card .eventList-image {
    width: 100%;
    margin: 0 auto;
  }

  .eventList-card .eventList-body {
    width: 100%;
    margin: 0 auto;
  }

  .eventList-card .eventList-btn {
    width: 100%;
    margin: 0 auto;
  }
}

.eventList-image {
  width: 200px;
  margin-right: 10px;
}

.eventList-body {
  flex: 1;
  text-align: left;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.eventList-body-title {
  @extend %list-body-base;
  font-size: 1.5rem;
  text-overflow: ellipsis;
}

.eventList-body-item {
  @extend %list-body-base;
  font-size: 0.8rem;
  text-overflow: ellipsis;
  border-bottom: 1px solid gray;
}

.eventList-btn {
  width: 120px;
  font-size: 0.8rem;
  padding-left: 10px;
}

.event-container {
  background: #fff;
  display: flex;
  justify-content: flex-start;
  padding: 10px;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

.event-image {
  margin-right: 10px;
}

.event-body {
  font-size: 0.9rem;
  text-align: left;
  flex: 1;
  text-align: left;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.event-body-btn {
  float: right;
  margin-left: 10px;
  width: 100px;
}

.event-h-td {
  width: 80px;
}

.event-item {
  background-color: $secondary;
  color: white;
  margin-right: 1rem;
  padding: 0rem 0.25rem 0rem 0.25rem;
  width: 100%;
  text-align: center;
}


/* participants */
.participants-list {
  width: 100%;
  margin-top: 10px;

  ul {
    padding-left: 0;
    list-style-type: none;
    text-align: left;
    height: 100%;
    overflow: hidden;

    li {
      float: left;
      margin-right: 20px;
      margin-bottom: 20px;
      padding: 10px;
      background-color: $light;
    }
  }
}


/* comment */
.comment-form {
  margin-top: 10px;
}

.comment-btn {
  overflow: hidden;
}

#send-comment {
  cursor: not-allowed;
}

.comment-row {
  border-bottom: 1px solid lightgray;
  margin-bottom: 10px;
}


/* users */
.user-page {
  display: flex;
  width: 1200px;
  margin: 0 auto;
  padding: 22px 0;
  flex-wrap: wrap;
}

.user-detail-panel {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.user-detail {
  width: 290px;
  margin-right: 30px;
  position: sticky;
  top: 70px;
  z-index: 1;
  align-self: flex-start;
  overflow-x: hidden;
  overflow-y: auto;
  height: 80vh;
}

.event-box {
  box-sizing: border-box;
  flex: 1;
}

.event-box-title {
  display: flex;
  max-width: 1200px;
  margin: 0 auto 20px;
  align-items: center;
  flex-wrap: wrap;
}

.user-name {
  text-overflow: ellipsis;
}

.user-index-panel {
  @extend %panel;
  width: 900px;
}

.users {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 20px;
}

.userList-card {
  background: #fff;
  padding: 10px 10px;
  margin-bottom: 20px;
  overflow: hidden;
}

.userList-card-mini {
  background: $light;
  padding: 10px 10px;
}

.userList-image {
  width: 80px;
}

.userList-body {
  width: 230px;
  -webkit-box-flex: 1;
  flex: 1;
  text-align: left;
  display: flex;
  flex-wrap: wrap;
  -webkit-box-align: center;
  align-items: center;
}

.userList-body-name {
  @extend %list-body-base;
  text-overflow: ellipsis;
}

.userList-body-intro {
  @extend %list-body-base;
  font-size: 1.1rem;
  line-height: 1.1;
  font-weight: 700;
  height: 2.2em;
  overflow: hidden;
  margin: 5px 0px 10px 0px;
  text-overflow: ellipsis;
  word-break: break-all;
}

.userList-body-detail {
  @extend %list-body-base;
  font-size: 0.6rem;
}

.userList-btn {
  width: 110px;
  padding-left: 5px;
}

.userList-follow {
  font-size: .8rem;
  border-radius: 40px;
  width: 100%;
}

.userList-delete {
  margin-top: 10px;
  font-size: .8rem;
  border-radius: 40px;
  width: 100%;
}

.user-profile {
  background-color: white;
  padding: 10px;
}

.user-profile-image {
  text-align: center;
}

.user-profile-contents {
  margin-top: 5px;
  font-size: 0.9rem;
  color: $secondary
}

.user-profile-item {
  margin-top: 10px;
}

.profile-tabitem {
  background-color: lightgray;
  width: 25%;
}

.followlist-tab {
  margin-bottom: 10px;
}

.followlist-tabitem {
  background-color: lightgray;
  width: 50%;
}


/* pagination */
.page-nav {
  width: 100%;

  ul {
    display: inline-block;
    text-align: center;
  }

  li {
    float: left;
  }
}


.pagination>li>a {
  color: #696969;
}

.pagination>.active>a {
  background: #93c9ff;
}

.pagination>li>a:hover {
  border-color: $info;
  background-color: $info;
  color: white;
}

.page-item.active .page-link {
  border-color: $info;
  background-color: $info;
}

.page-link-disabled {
  @extend .page-link;
  cursor: default;
  pointer-events: none;
}


/* search-form */
.search-form {
  width: 100%;
  margin-bottom: 0.5rem;
  box-sizing: border-box;
  text-align: left;
}

.search-box {
  padding: 10px 10px 10px 10px;
}

.search-title {
  font-weight: 700;
  font-size: 1rem;
}

.search-table {
  width: 100%;
}

.search-tr {
  border-bottom: 1px solid;
  border-color: $light;
}

.search-item-head {
  width: 12%;
  min-width: 80px;

  div {
    margin: 5px 0px 5px 0px;
    background-color: $light;
    text-align: center;
  }
}

.search-item-body {
  padding-left: 10px;

  div {
    float: left;
    margin-left: 10px;
  }
}

.search-item-selected {
  background-color: $info;
  color: white !important;
  pointer-events: none;
}

.search-item-btn {
  width: 100px;
  height: auto;
  padding: 0.3rem;
  font-size: 0.8rem;
}

.search-item-btn-none {
  display: none;
}

%search-item-base {
  @extend %form-control-base;
  width: auto;
  height: 34px;
  padding: 5px;
  font-size: 0.8rem;
}

.search-item-select {
  @extend %search-item-base;
}

.search-item-date {
  @extend %search-item-base;
  width: 50px;
}

.search-item-text {
  @extend %search-item-base;
  width: 90%;
}


/* notification */
.notification-of-comments {
  margin-left: 3em;
}

.notification-sub-text {
  font-size: 0.9em;
}

.n-circle {
  position: absolute;
  padding-left: 1rem;
  padding-top: 1rem;
  font-size: 0.8rem;
  color: $danger;
}