/* mixins, variables, etc. */

@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* universal */
.container {
  // max-width: 960px;
}

.dropdown-font {
  font-size: 14px;
}

.page {
  padding: 30px 0px 30px 0px;
  text-align: center;
}

%panel {
  margin: 0 auto;
  color: #878787;
  font-size: 13px;
}

.mid-white-panel {
  @extend %panel;
  padding: 80px;
  background: #fff;
  width: 665px;
}

/* image */
.avatar-img-mini {
  width: 40px;
  height: 40px;
}

.avatar-img {
  width: 80;
  height: 80px;
}

.circle-avatar img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
}


/* header */
.navbar {
  height: 55px;
}

.header-logo {
  width: 100px;
}

.header-menu {
  display: flex;
  justify-content: center;

  ul {
    display: flex;
    font-size: 1rem;
    font-weight: 700;
    margin-top: 12px;
    list-style: none;

    a:hover {
      text-decoration: none;
    }
  }
}

.header-right {
  margin-left: auto;
  display: flex;
}


/* footer */


/* not_logged_in */
.not-logged-in-container {
  background-image: image-url('lp_image.png');
  background-size: cover;
  height: 800px;
  opacity: 0.7;
  padding: 50px 0px 0px 50px;
}

/* form */
.form-group {
  text-align: left;
  width: 350px;
  margin: auto;
  margin-bottom: 15px;
}

.control-label {
  display: inline-block;
  max-width: 100%;
  margin-bottom: 5px;
  font-weight: bold;
}

%form-control-base {
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.4;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.form-control {
  @extend %form-control-base;
  display: block;
  width: 100%;
}

.form-control-select {
  @extend %form-control-base;
  width: 25%;
}


/* loginbtn */
.loginbtn {
  width: 100px;
  margin: 0px 5px 0px 5px;

  a:hover {
    text-decoration: none;
  }
}

.guest-loginbtn {
  @extend .loginbtn;
  width: 150px;
}


/* user-index */
.user-index-panel {
  @extend %panel;
  width: 900px;
}

.users {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 20px;
}

.userList-card {
  background: #fff;
  padding: 10px 10px;
  margin-bottom: 20px;
  overflow: hidden;
}

.userList-float {
  float: left;
}

.userList-image {
  width: 80px;
}

.userList-image-name {
  margin-bottom: 5px;
}

.userList-body {
  width: 230px;
  -webkit-box-flex: 1;
  flex: 1;
  text-align: left;
  display: flex;
  flex-wrap: wrap;
  -webkit-box-align: center;
  align-items: center;
}

.userList-body-intro {
  width: 100%;
  font-size: 1.1rem;
  font-weight: 700;
  height: 40px;
  margin: 10px 0;
  text-overflow: ellipsis;
}

.userList-body-type {
  width: 100%;
}

.userList-body-average {
  width: 100%;
}

.userList-btn {
  width: 110px;
  padding-left: 5px;
}

.userList-follow {
  font-size: .8rem;
  border-radius: 40px;
  width: 100%;
}

/* pagination */
.page-nav {
  width: 100%;

  ul {
    display: inline-block;
    text-align: center;
  }

  li {
    float: left;
  }
}

/* search-form */
.search-form {
  width: 100%;
  margin-bottom: 20px;
  box-sizing: border-box;
  text-align: left;
}

.search-box {
  widows: 100px;
}

.pagination>li>a {
  color: #696969;
}

.pagination>.active>a {
  background: #93c9ff;
}

.pagination>li>a:hover {
  border-color: $info;
  background-color: $info;
  color: white;
}

.page-item.active .page-link {
  border-color: $info;
  background-color: $info;
}

.page-link-disabled {
  @extend .page-link;
  cursor: default;
  pointer-events: none;
}